<div  class="no-cover col-md-8" ng-controller="BandsController" >

    <h1>Rejestracja zespołu</h1>

    <form role="form" name="bandForm">
        <fieldset>
            <h3>Dane podstawowe</h3>


            <div class="form-group">
                <label for="registerName">Nazwa</label>
                <input type="text" class="form-control" id="registerName" ng-model="bandDetails.name">
            </div>
            <div class="form-group">
                <label for="registerDesc">Opis</label>
                <input type="text" class="form-control" id="registerDesc" ng-model="bandDetails.description">
            </div>
            <div class="form-group">
                <label for="registerLink">Link</label>
                <input type="text" class="form-control" id="registerLink" ng-model="bandDetails.link">
            </div>
            <div class="form-group">
                <label>Lista utworów</label>
                <div>
                    <table class="table">
                        <tr>
                            <th>Tytuł</th>
                            <th>Rok wydania</th>
                        </tr>
                        <tr ng-repeat="track in trackList">
                            <td>{{track.title}}</td>
                            <td class=""pull-left>{{track.releaseYear}}</td>
                        </tr>
                    </table>
                </div>
            </div>


            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="registerTrack1">Tytuł utworu</label>
                        <input type="text" class="form-control" id="registerTrack1" ng-model="track.title">
                    </div>
                    <div class="form-group">
                        <label for="registerTrack2">Rok wydania</label>
                        <input type="number" class="form-control" id="registerTrack2" ng-model="track.releaseYear">
                    </div>
                </fieldset>
                <fieldset>
                    <button type="submit" class="btn btn-success" ng-click="addTrack()">Dodaj utwór</button>
                </fieldset>
            </form>

        </fieldset>
        <fieldset>
            <button type="submit" class="btn btn-success" ng-click="registerBand()">Zarejestruj</button>
        </fieldset>
    </form>


</div>