<div  class="no-cover col-md-8" ng-controller="NavigationController">

    <h1>Logowanie klienta</h1>

    <form role="form">
        <fieldset>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ng-model="credentials.username">
            </div>
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" ng-model="credentials.password">
            </div>
        </fieldset>
        <fieldset>
            <button type="submit" class="btn btn-success" ng-click="login()">Zaloguj</button>
        </fieldset>
    </form>

</div>