<div  class="no-cover col-md-8" ng-controller="RegistersController" >

    <h1>Rejestracja użytkownika</h1>

    <form role="form">
        <fieldset>
            <h3>Dane podstawowe</h3>


            <div class="form-group">
                <label for="registerName">Imię</label>
                <input type="text" class="form-control" id="registerName" ng-model="userDetails.name">
            </div>
            <div class="form-group">
                <label for="registerSurname">Nazwisko</label>
                <input type="text" class="form-control" id="registerSurname" ng-model="userDetails.surname">
            </div>
            <div class="form-group">
                <label for="registerEmail">Email</label>
                <input type="email" class="form-control" id="registerEmail" ng-model="userDetails.email">
            </div>
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" ng-model="userDetails.password">
            </div>
            <div class="form-group">
                <label for="passwordRepeat">Powtórz hasło</label>
                <input type="password" class="form-control" id="passwordRepeat">
            </div>
        </fieldset>
        <fieldset>
            <button type="submit" class="btn btn-success" ng-click="registerUser()">Zarejestruj</button>
        </fieldset>
    </form>

</div>