<div  class="no-cover col-md-8" ng-controller="VoteController" >
    <h1>Oddaj głos</h1>
    <form role="form" name="voteForm" class="form-horizontal">
        <div class="panel-group" id="accordion" name="bandVote">
            <div class="panel panel-default" ng-repeat="band in bands">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <input type="radio" name="voteRadio" ng-model="$parent.bandVote" ng-value="band.name"/>
                        <a data-toggle="collapse" data-parent="accordion" data-target="#band{{$index}}">
                            {{ band.name }}
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="band{{$index}}">
                    <div class="panel-body">
                        {{ band.link }} <br>
                        {{ band.description }} <br>
                        <p ng-repeat="track in band.tracklist"> {{ track.title }} - {{ track.releaseYear }} </p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="form-group ">-->
            <!--<label class="col-xs-12" ng-repeat="band in bands">-->
                <!--<input type="radio" name="bandVote" ng-model="$parent.bandVote" ng-value="band.name"/> {{ band.name }}-->
            <!--</label>-->
        <!--</div>-->


        <br>
        <button type="submit" class="btn btn-success" ng-click="vote()">Głosuję</button>
    </form>
</div>